<div class="dashboard-container flex">
    <div class="flex-1 p-6 ml-30">
        <h2 class="text-2xl font-bold">Current Information</h2>
        <div class="grid grid-cols-2 gap-4 mt-4">
          <div class="p-4 bg-white shadow rounded-lg">
            <h3 class="font-bold">Admin Name</h3>
            <p>Ayşe Kuş</p>
          </div>
          <div class="p-4 bg-white shadow rounded-lg">
            <h3 class="font-bold">Occupation</h3>
            <p>personal</p>
          </div>
          <div class="p-4 bg-white shadow rounded-lg">
            <h3 class="font-bold">Faculty</h3>
            <p>Mühendislik Fakültesi</p>
          </div>
        </div>
    </div>
    
