<div class="dashboard-container flex">
<div class="flex-1 p-6 ml-30">
    <h2 class="text-2xl font-bold">Güncel Bilgiler</h2>
    <div class="grid grid-cols-2 gap-4 mt-4">
        <div class="p-4 bg-white shadow rounded-lg">
            <h3 class="font-bold">Student Name</h3>
            <p>Furkan Akın</p>
          </div>
      <div class="p-4 bg-white shadow rounded-lg">
        <h3 class="font-bold">GPA</h3>
        <p>3.45</p>
      </div>
      <div class="p-4 bg-white shadow rounded-lg">
        <h3 class="font-bold">Counselor Instructor</h3>
        <p>Prof. Dr. Ahmet Yılmaz</p>
      </div>
      <div class="p-4 bg-white shadow rounded-lg">
        <h3 class="font-bold">Section</h3>
        <p>Bilgisayar Mühendisliği</p>
      </div>
      <div class="p-4 bg-white shadow rounded-lg">
        <h3 class="font-bold">Email</h3>
        <p>Furkanakın&commat;ogr.____.edu.tr</p>
      </div>
      <div class="p-4 bg-white shadow rounded-lg">
        <h3 class="font-bold">Telephone Number</h3>
        <p>0567 075 89 67</p>
      </div>
      <div class="p-4 bg-white shadow rounded-lg">
        <h3 class="font-bold">Faculty</h3>
        <p>Mühendislik Fakültesi</p>
      </div>
      <div class="p-4 bg-white shadow rounded-lg">
        <h3 class="font-bold">Student Status</h3>
        <p>Tam Zamanlı Öğrenci</p>
      </div>
    </div>
</div>